@import url(http://fonts.googleapis.com/earlyaccess/notokufiarabic.css);
.image-carousel.style2 .flex-direction-nav li a.flex-disabled,
.loading-page.style1 .loading-progress,
.photo-gallery:not(.flex-direction-style) .flex-direction-nav li a.flex-disabled,
button,
input[type=button].button {
    background: #fe7600
}

body,
code,
h1,
h2,
h3,
h4,
h5,
h6,
kbd,
pre,
samp {
    font-family: 'Noto Kufi Arabic', sans-serif!important
}

body {
    direction: rtl
}

#main-menu ul.menu>li,
.chaser ul.menu>li,
.navbar-brand {
    float: right
}

#main-menu ul.menu,
.chaser ul.menu {
    margin: 0;
    float: left
}

.loading-page.style1 .loading-text {
    letter-spacing: 0
}

#main-menu ul.menu>li>a,
.chaser ul.menu>li>a {
    letter-spacing: 0;
    font-weight: 700;
    color: #222;
    font-size: 14px
}

#header .logo {
    margin: 15px 0 0
}

.ltr {
    direction: rtl;
}

.tp-caption.large_bold_white_med,
.tp-caption.largewhitebg_button1,
div#slide-21-layer-1 {
    direction: rtl;
    text-align: right
}

.tp-caption.largewhitebg_button1:hover a {
    color: #fe7600
}

.pull-left {
    float: right!important
}

.pull-right {
    float: left!important
}

.image-box.style8 figure {
    float: right
}

.image-box .box .box-title,
.image-box.box .box-title {
    margin-bottom: 10px;
    color: #2d3e52;
    letter-spacing: 0;
    text-align: right
}

.image-box .box>.details>:last-child,
.image-box.box>.details>:last-child {
    margin-bottom: 0;
    text-align: right
}

h2.m-title,
ul.menu.mini li a {
    text-align: right
}

.tour-packages .box .caption-title {
    margin-bottom: 0;
    color: #fff;
    text-align: right
}

.image-carousel.style2 .flex-direction-nav li a,
.photo-gallery:not(.flex-direction-style) .flex-direction-nav li a {
    width: 30px;
    height: 22px;
    background: #fe7600;
    color: #fff;
    text-indent: 9999px;
    text-align: left
}

ul.triangle li:before {
    content: "\f05b";
    margin-right: 0;
    margin-left: 10px;
    color: #d9d9d9;
    display: block;
    float: right;
    font-size: 7px
}

.social-icons li {
    float: right;
    text-align: center
}

#header .logo,
#header .mobile-menu>ul.menu>li>a,
#main-menu ul.menu>li ul li>a,
.chaser ul.menu>li ul li>a,
section#content {
    text-align: right
}

#footer .travel-news p {
    margin-bottom: 0
}

.contact-details .contact-phone i {
    margin-left: 10px
}

#header .mobile-menu-toggle {
    background: url(../images/icon/mobile-menu.png) center center no-repeat #fe7600;
    margin: 0;
    height: 66px;
    width: 66px;
    padding: 22px;
    position: absolute;
    right: auto;
    left: 0;
    top: 0;
    bottom: 0;
    text-indent: -9999px;
    display: none
}

#footer .logo a,
#header .logo a,
.chaser .logo a {
    display: block;
    background-position: right center
}

#main-menu ul.menu>li ul,
.chaser ul.menu>li ul {
    visibility: hidden;
    position: absolute;
    left: auto;
    right: 0
}

.large_bold_white_med {
    font-size: 30px!important;
    line-height: 40px!important
}

.tp-caption.largewhitebg_button1 {
    background-color: #fe7600
}

section#content {
    min-height: 400px;
    background: #f5f5f5
}

h1 {
    font-size: 22px;
    font-weight: 700
}

.tour-packages .box figcaption {
    background: rgba(251, 116, 5, 0.59)
}

#footer .travel-news li .description {
    padding-left: 0;
    padding-right: 78px
}

.image-box.style12 .opacity-wrapper,
.image-box.style7 .opacity-wrapper,
.image-box.style8 .opacity-wrapper {
    background: rgba(0, 0, 0, .62)
}

.image-box.style8 .box:hover .opacity-wrapper {
    opacity: 0
}

#footer .logo a {
    margin-right: 10px
}

#footer .footer-wrapper {
    padding: 30px 0
}

#footer .travel-news li .thumb {
    float: right!important;
    width: 70px
}

#main-menu ul.menu>li,
.chaser ul.menu>li {
    padding-left: 10px;
    padding-right: 10px
}

#main-menu ul.menu>li:first-child,
.chaser ul.menu>li:first-child {
    padding-left: 10px;
    padding-right: 0
}

#main-menu ul.menu>li:last-child,
.chaser ul.menu>li:last-child {
    padding-right: 10px;
    padding-left: 0
}

@media (min-width:991px) and (max-width:1200px) {
    #main-menu ul.menu>li,
    .chaser ul.menu>li {
        padding-left: 5px;
        padding-right: 5px
    }
    #main-menu ul.menu>li:first-child,
    .chaser ul.menu>li:first-child {
        padding-left: 5px;
        padding-right: 0
    }
    #main-menu ul.menu>li:last-child,
    .chaser ul.menu>li:last-child {
        padding-right: 5px;
        padding-left: 0
    }
}

.promo-box .m-title em {
    font-size: 25px;
    font-weight: 700;
    font-style: normal
}

.tg-addnavcartsearch nav,
.tg-btn,
.tg-infonav {
    font-family: 'Noto Kufi Arabic', sans-serif!important;
    font-weight: 400
}

.promo-box .content-section {
    padding: 60px 0
}

.text-center.description p {
    font-size: 14px
}

.investor-list .travelo-box>a>img {
    opacity: 1
}

footer#footer {
    border-top: 2px solid #b7b7b7
}

#footer .bottom {
    position: relative;
    z-index: 101
}

.icon-check:after {
    left: 0;
    right: auto;
    background: url(../images/icon/icon-check.png) center center no-repeat #fe7600
}

button:hover,
input[type=button].button:hover {
    background: #f5f5f5;
    color: #fe7600
}

#header .topnav {
    height: 40px;
    background: #000
}

.tg-btn,
.tg-infonav {
    font-size: 14px;
    float: right;
    line-height: 40px
}

.tg-addnavcartsearch {
    float: left
}

.tg-infonav ul {
    width: 100%;
    float: left;
    list-style: none;
    font-size: inherit;
    line-height: inherit
}

.tg-infonav ul li,
.tg-infonav ul li i,
.tg-infonav ul li span {
    float: right;
    line-height: inherit
}

.tg-infonav ul li {
    font-size: inherit;
    list-style-type: none
}

.tg-infonav ul li:first-child i {
    padding: 12px 0 12px 10px
}

.tg-infonav ul li i img {
    display: block
}

.tg-infonav ul li+li {
    padding: 0 30px 0 0
}

.tg-infonav ul li i {
    padding: 12px 0 11px 10px
}

.tg-addnavcartsearch nav ul li a {
    color: #fff;
    display: block;
    position: relative
}

.tg-addnav ul li {
    padding: 0 15px
}

.tg-addnav ul li:last-child {
    padding-right: 0
}

.tg-cartsearch,
.tg-topbar {
    padding: 0 0 0 30px
}

.tg-addnavcartsearch nav {
    font-size: 14px;
    line-height: 40px;
    float: left;
    text-align: center
}

.image-box .box>.details p.description,
.price {
    text-align: right
}

.tg-addnavcartsearch nav ul li {
    float: left;
    position: relative;
    font-size: inherit;
    line-height: inherit;
    list-style-type: none
}

.tg-cartsearch ul li {
    border-left: 1px solid #414150
}

.tg-cartsearch ul li a {
    /*    width: 50px*/
}

.tg-addnav ul li+li:before {
    top: 0;
    left: -3px;
    content: '-';
    font-size: 12px;
    position: absolute;
    line-height: inherit
}

.tg-topbar {
    color: #fff;
    width: 100%;
    float: left;
    background: #000
}

.price{
    color: #fe7600
}

a.button.yellow,
a.button:hover,
button.yellow,
input[type=button].button.yellow {
    background: #fe7600
}

.image-carousel.style2 .flex-direction-nav,
.photo-gallery:not(.flex-direction-style) .flex-direction-nav {
    position: absolute;
    right: inherit;
    left: 0;
    top: -40px;
    width: 72px;
    height: 22px
}

.price {
    font-size: 1.6667em;
    text-transform: uppercase;
    float: right;
    line-height: 1;
    display: block
}

a.button.btn-extra,
button.btn-extra,
input[type=button].button.btn-extra {
    margin-right: 0;
    margin-left: 10px
}

a.button.btn-extra>i:after,
button.btn-extra>i:after,
input[type=button].button.btn-extra>i:after {
    left: 0
}

a.button.btn-extra.yellow>i,
button.btn-extra.yellow>i,
input[type=button].button.btn-extra.yellow>i {
    background: #fdb714;
    text-align: center
}

.image-box .box>.details>:last-child {
    text-align: center
}

.global-map-area2 {
    background: url(../images/global-map2.jpg) no-repeat
}

.global-map-area3 {
    background: url(../images/global-map3.jpg) no-repeat
}

.global-map-area3 .travelo-box {
    width: 25%;
    float: left
}

.bgwhite {
    background: #fff
}

.selector span.custom-select:after {
    position: absolute;
    right: inherit;
    left: 9px;
    top: 15px;
    border-top: 5px solid #fff;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    content: ""
}

.selector span.custom-select:before {
    position: absolute;
    right: inherit;
    left: 0;
    top: 0;
    content: '';
    background: #242424;
    width: 24px;
    height: 100%
}

.mb20 {
    margin-bottom: 20px
}

.mb10 {
    margin-bottom: 10px
}

.loading-page.style1 {
    background: #dcdcdc
}

.tab-container.style1 ul.tabs li a {
    font-size: 14px;
    font-weight: 700
}

.wkyle a img {
    background: #f5f5f5;
    margin-bottom: 5px
}

.testimonial.style3 .description {
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    font-weight: 300;
    padding: 20px;
    margin: 0
}

.icon-check:hover:after {
    background-color: #099279
}

#live-chat header,
.icon-box.style5>i,
.page-title-container {
    background: #fe7600
}

blockquote:after,
blockquote:before {
    content: '"';
    margin-right: 4px
}

.pt0 {
    padding-top: 0
}

.page-title-container .breadcrumbs li {
    float: right
}

.page-title-container .breadcrumbs li a {
    padding-right: 0;
    padding-left: 5px
}

.image-box.style14 .details,
.image-box.style6 .details {
    text-align: right
}

.icon-box.style5>i {
    display: block;
    width: 70px;
    float: right;
    line-height: 70px;
    color: #fff;
    font-size: 3em;
    margin-right: 0;
    margin-left: 15px
}

#live-chat {
    bottom: 0;
    font-size: 12px;
    right: 24px;
    position: fixed;
    width: 300px;
    z-index: 1000
}

#live-chat header {
    border-radius: 5px 5px 0 0;
    color: #fff;
    cursor: pointer;
    padding: 10px 10px;
}

#live-chat h4:before {
    background: #fff;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 8px;
    margin: 0 0 0 8px;
    width: 8px
}

#live-chat h4 {
    font-size: 12px;
    line-height: 20px;
    margin: 0 15px;
    color: #fff
}

#live-chat h5 {
    font-size: 10px;
    margin-bottom: 10px
}

#live-chat form {
    padding: 5px 10px
}

#live-chat input[type=text] {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 8px;
    outline: 0;
    width: 80%
}

.chat-message-counter {
    background: #e62727;
    border: 1px solid #fff;
    border-radius: 50%;
    display: none;
    font-size: 12px;
    font-weight: 700;
    height: 28px;
    left: 0;
    line-height: 28px;
    margin: -15px 0 0 -15px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 28px
}

.chat-close {
    background: #1b2126;
    border-radius: 50%;
    color: #fff;
    display: block;
    float: left;
    font-size: 10px;
    height: 16px;
    line-height: 16px;
    margin: 2px 0 0;
    text-align: center;
    width: 16px
}

.chat {
    background: #fff
}

.chat-history {
    height: 252px;
    padding: 8px 24px;
    overflow-y: scroll
}

.chat-message {
    margin: 12px 0
}

.chat-message img {
    border-radius: 50%;
    float: right
}

.chat-message-content {
    margin-right: 45px
}

.chat-time {
    float: left;
    font-size: 10px
}

.image-box.style14 figure,
.trip_des .checkbox,
.trip_des .radio {
    float: right
}

.chat-message-content p {
    margin: 0;
    font-size: 12px
}

.chat-feedback {
    font-style: italic;
    margin: 0 30px 0 0;
    font-size: 10px
}

.chat hr,
.chat-history hr {
    margin: 0
}

.chatbtn {
    background: #fe7600;
    color: #fff;
    padding: 8px 5px;
    border: none
}

.chatbtn:hover {
    color: #000
}

.clint_user {
    margin: 0;
    padding: 12px 5px 12px 0;
    background: #f1f1f1
}

.margin-8-0 {
    margin: 8px 0
}

.trip_des input,
.trip_des input.input-text,
.trip_des span.custom-select,
.trip_des textarea {
    background: #fff;
    border: 1px solid #fe7600;
    border-radius: 0
}

.trip_des .selector span.custom-select:before {
    background: #0AB597
}

.datepicker-wrap .ui-datepicker-trigger,
.datepicker-wrap:after {
    right: auto;
    left: 0
}

.datepicker-wrap:after,
.ui-datepicker .ui-datepicker-header {
    background: #fe7600
}

.ui-datepicker {
    border: 1px solid #fe7600;
    z-index: 1000!important
}

.trip_des {
    background: #FFF
}

.sub-title-form,
h2.pro-dtl-title {
    background: #fe7600;
    padding: 5px;
    color: #fff
}

img.image-32.margin-4 {
    width: 32px;
    margin: 4px 10px;
    height: 32px
}

.nomargin-bottom {
    margin-bottom: 0
}

.margin-10-0 {
    margin: 10px 0
}

.checkbox:before,
.radio:before {
    right: 0;
    left: auto;
    top: 15px
}

.trip_des .checkbox input[type=checkbox],
.trip_des .checkbox-inline input[type=checkbox],
.trip_des .radio input[type=radio],
.trip_des .radio-inline input[type=radio] {
    margin: 15px 1px 0 0
}

a.button.btn-extra.yellow>span em {
    color: #fdb714
}

button.yellow:hover {
    background: #444
}

.btn-primary {
    border-color: #1b2126;
    background-color: #fe7600
}

.btn-primary:hover,
.form-control:focus {
    border-color: #fe7600
}

.hidden {
    display: none!important
}

.btn-primary:active:hover,
.btn-primary:hover {
    background-color: #1b2126
}

.form-control:focus {
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #fe7600;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #fe7600
}

.selector select {
    top: 0px
}

.page-title-container .breadcrumbs li.active {
    color: #242424
}

.post .details {
    margin: 15px
}

.image-box.style14 .details {
    margin-left: 0;
    margin-right: 63px
}

#header .mobile-menu>ul.menu>li.menu-item-has-children>.dropdown-toggle {right: auto;left: 1px;}
#header .mobile-menu>ul.menu>li>ul li>a {padding-left: 15px;padding-right: 15px;text-align: right;}
.travelo-box h4 {border-bottom: 2px solid #fe7600;padding-bottom: 5px;}
.flexslider {margin: 0 0 20px;}
#header .mobile-menu>ul.menu>li>ul li>a:before {left: auto;right: 0px;}
#header .mobile-menu .mobile-topnav>li {float: right;}
#header .mobile-menu .mobile-topnav>li:after {right: auto;left: -1px;}
.filters-container ul.filters-option li small {float: left;}
.filters-container ul.filters-option li small i {color: #fe7600;}
.filters-container ul.filters-option li.active small i {color: #ffffff;}
.hotel-list {margin-top: 0;}
article.detailed-logo h2.box-title {
    font-size: 14px;
    line-height: 18px;
    text-align: right;
}
.image-box .box>.details>:last-child {text-align: right;line-height: 15px;font-size: 11px;}
.partnerss .box>.details>:last-child {text-align: center;color: #fff;}
.partnerss .box>.details {background: #fe7600;}
.tab-container ul.tabs li {
    float: right;
    padding-right: 0;
    padding-left: 4px;
}
.icon-box.style1>i {
    float: right;
    margin-right: 0;
    margin-left: 15px;
}

.tab-container .tab-content .tab-pane .image-box .details {
    padding-right: 20px;
    padding-left: 0;
}

.food-dinning-list .box {
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 15px;
    padding-bottom: 10px;
}
.food-dinning-list .box figure {
    margin-bottom: 5px;    float: right;
}
.food-dinning-list .details {
    text-transform: none;
    padding: 20px 270px 10px 20px !important;
}
.food-dinning-list .review-score {
    float: left;
    margin-top: 6px;
}
.food-dinning-list .box-title {
    margin: 0 0 5px 0;
}

.food-dinning-list .box-title .title {
    margin-bottom: 3px;
}
.food-dinning-list .box-title dl {
    margin: 0;
}

.food-dinning-list hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.image-box.style2 .details {padding: 20px 270px 10px 20px;text-align: right;}
.image-box.style2 figure {float: right;}
.blog-infinite .post .details {margin: 0;}
.user_booking_data .input-sm {height: 34px;}
.tab-container ul.tabs li a {background: #fe7600;}

.chat-message-counter {animation: pulse 2s infinite;}
.image-box .box, .image-box.box {text-align: center !important;background: #efefef;}
.five-stars-container .five-stars, .five-stars-container.editable-rating .ui-slider-range {background: transparent;}
.listing-style1.hotel .five-stars-container, .listing-style1.cruise .five-stars-container {float: left;}
.listing-style1.hotel .feedback, .listing-style1.cruise .feedback {display: inline-block;width: 100%;}
/*******************************************************/
#header .logo {
    margin: 0px 0 0;
    background: white;
    height: 150px;
    position: absolute;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#header .logo img, #footer .logo img, .chaser .logo img {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    width: 100%;
    height: 150px;
}
/********************************************************************************************************************************/
.chaser .logo a {
    height: 150px;
    line-height: 48px;
    /*  background-position: left center; */
    position: absolute;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.logonavimg {
    margin: 0px 0 0;
    background: white;
    height: 150px;
    position: absolute;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.logonavimg a  img{
    width: 100%!important;
    height: 100%!important;
    background-size: cover;
}
#back-to-top{
    float: left;
}
.serviceimg{
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-height: 350px;
}
.serviceimg img{
    width: 100%;
    min-height: 350px;
}
.tg-infonav ul li span a,.tg-infonav ul li span {
    color: #fff;
}
.fancybox-lock .fancybox-overlay {
    z-index: 9999999999999999;
}

.tp-caption.large_bold_white_med, .tp-caption.largewhitebg_button1{
    position: relative;
    background-color: rgba(0,0,0,.5);
    z-index: 99999999999999999999999999!important;
    border-right: 4px solid #fe7600
}
.rev_slider .tp-mask-wrap .slidetxt{
    padding: 10px!important;
}
.largewhitebg_button1{
    margin-top: 50px;
}

@media(max-width: 576px){
    .tp-caption.large_bold_white_med, .tp-caption.largewhitebg_button1{
        font-size: 19px!important;
        float: none!important;
        position: relative;
        margin: 0 auto!important;
        text-align: center!important;
        padding: 10px!important;
    }
    .rev_slider .tp-mask-wrap .slidetxt{
        padding: 10px!important;
    }
    .largewhitebg_button1,.slidetxt .samem{
        display: none!important;
    }
}
/*****************************************************************************/
.IMG1,.IMG2,.IMG3,.IMG4,.IMG5,.IMG6,.IMG7,.IMG8,.IMG9{
    border-radius: 50%;
    border:2px solid #fff;
    overflow:hidden;
}
.IMG1{
    max-width: 225px;
    max-height: 225px;
    background-size: cover;
    background-position: center;
}
.IMG2{
    max-width: 254px;
    max-height: 249px;
    background-size: cover;
    background-position: center;
}
.IMG3{
    max-width: 314px;
    max-height: 318px;
    background-size: cover;
    background-position: center;
}
.IMG4{
    max-width: 166px;
    max-height: 175px;
    background-size: cover;
    background-position: center;
}
.IMG5{
    max-width: 237px;
    max-height: 239px;
    background-size: cover;
    background-position: center;
}
.IMG6{
    max-width: 262px;
    max-height: 259px;
    background-size: cover;
    background-position: center;
}
.IMG7{
    max-width: 111px;
    max-height: 112px;
    background-size: cover;
    background-position: center;
}
.IMG8{
    max-width: 250px;
    max-height: 252px;
    background-size: cover;
    background-position: center;
}
.IMG9{
    max-width: 163px;
    max-height: 169px;
    background-size: cover;
    background-position: center;
}
/***********************************************************************/
.sk1 img{
    /* Rotate div */
    -ms-transform: rotate(100deg); /* IE 9 */
    -webkit-transform: rotate(100deg); /* Safari 3-8 */
    transform: rotate(100deg);
}
.sk2 img{
    /* Rotate div */
    -ms-transform: rotate(-60deg); /* IE 9 */
    -webkit-transform: rotate(-60deg); /* Safari 3-8 */
    transform: rotate(-60deg);
}
.sk3 img{
    /* Rotate div */
    -ms-transform: rotate(15deg); /* IE 9 */
    -webkit-transform: rotate(15deg); /* Safari 3-8 */
    transform: rotate(15deg);
}
.sk4 img{
    /* Rotate div */
    -ms-transform: rotate(163deg); /* IE 9 */
    -webkit-transform: rotate(163deg); /* Safari 3-8 */
    transform: rotate(163deg);
}
.sk5 img{
    /* Rotate div */
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari 3-8 */
    transform: rotate(0deg);
}
.sk6 img{
    /* Rotate div */
    -ms-transform: rotate(-24deg); /* IE 9 */
    -webkit-transform: rotate(-24deg); /* Safari 3-8 */
    transform: rotate(-24deg);
}
.sk7 img{
    /* Rotate div */
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari 3-8 */
    transform: rotate(45deg);
}

.five-stars-container .five-stars {
    margin-left: -12px;
}

.langandcurrency ul.menu.mini {
    min-width: 100px!important;
    border: 1px solid #6d1401;
    background: #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

}
#header .ribbon > ul.menu{
    left: 0px!important;
}
#header .ribbon > a {
    position: relative;
    padding: 0 8px 0 0;
    text-transform: uppercase;
    margin: 0px 10px;
}
.design_omrA{
    position: relative;
    background-color: #fff;
    padding: 15px;
    border-right: 3px solid #fb7405;
    margin-bottom: 40px;
    margin-top: -45px;
}
.des-checkbox-inline .des-checkbox ,.des-radio-inline .des-radio{
    display: inline-block;
    margin-right: 15px;
}
.borderinputted{
    border: 1px solid #eee;
    padding: 10px 0px 30px 0px;
}
.input-group-addon:first-child {
    border-right: 1px solid #cccccc;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.design_omrA .col-lg-6 ,.design_omrA  .col-md-3 ,.design_omrA  .col-md-2 ,.design_omrA  .col-md-4 {
    float: right;
}

.form-control {
    padding: 2px 12px;
}
.btn {
    margin-top: 20px;
}
.destriptitle{
    font-size: 2em;
    padding: 10px;
    text-align: center;
}
#submit_btn{
    text-align: center;
    margin: 0 auto;
}

.make_title {
    float: left;
}

.make_breadcrumbs {
    float: left;
}

.page-title-container .col-lg-7,.page-title-container .col-md-7  {
    float: right;
}

.page-title-container .col-lg-5,.page-title-container .col-md-5{
    float: left;
}
textarea {
    resize: vertical;
}
.flexslider{
    position: relative;
    direction: rtl!important;
}
.full-width-btn {
    width: 80%!important;
}
.newletter-link {
    padding: 9px;
    cursor: pointer;
}
.sideform{
    background-color: #eee;
    padding: 10px;
}
.Chech-date{
    padding: 5px;
    border: 1px solid #eee;
}
.btnmore{
    margin-top: 23px!important;
    height: 33px!important;
    line-height: 32px!important;
    color: #333!important;
}
.sideformfilter .checkbox-inline input[type=checkbox]{
    margin: 3px -15px 0px 0px;
}
.sideformfilter .checkbox-inline{
    margin: 10px 30px 10px 0px;
}
.sideformfilter  hr {
    margin-top: 7px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #fff;
}
.checkingdate{
    position: relative;
    font-size: 14px;
    border-bottom: 1px solid #cacaca;
    padding: 4px 0px;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.checkingdaterow {
    border: 1px dashed #cacaca;
    min-height: 100px;
    margin: 0px 13px 13px  15px ;
}
@media(max-width:767px ){
    .checkingdaterow {
        min-height: 175px;
    }
}
.styledbox{
    overflow: hidden;
    border: 8px solid #e8e9e9;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.styledbox:hover {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    box-shadow: 0px 4px 14px #00000070;
}
.image-slider-border {
    border: 5px solid #fff!important;
}


.bordered {
    border-right: 1px dotted #cac8c8;
    min-height: 270px;
}
.Specialoffimg figure a img{
    width: 100%;
    border: 5px solid #fff;
}
.bkorange{
    background-color: #fe7600!important;
    color: #fff!important;
}
.bkorange a,.bkorange a:hover{
    color: #fff!important;
}
.bkorange:hover{
    color: #fff!important; 
}
/***********************************************************************/
.newsdetailsimg{
       width: 870px;
   height: 484px; 
}
.seasonselect{
    float: right;
    text-align: right;
}
.hotelslideimg{
    width: 100%;
    height: 500px;
    background-size: contain;
}
/**************************************************************************************/
.page-title-container .page-title .entry-title {
    line-height: 56px;
    color: #fff;
    margin-right: 200px;
}